<%- include('partials/head') %>

  <%- include('partials/navbar') %>
    <h1>Home Page <%= 5+5+1 %></h1>
    <p>
        <%= 'hello world'.toUpperCase() %> ipsum dolor sit amet consectetur adipisicing elit. Unde, illo
      temporibus sequi facere in consequuntur nam dolores vitae ad sit!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, autem.</p>
    <%- include('partials/footer') %>
